.main {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.content-wrapper{
}

/* header */
.skin-black .main-header>.logo {
  background-color: #0C0C0C;
  color: #C7C7C7;
  border-right: 1px solid #303030;
}

.skin-black .main-header>.navbar {
  background-color: #0C0C0C;
  border: 1px solid transparent;
}


.skin-black .main-header>.navbar>.sidebar-toggle {
  color: #C7C7C7;
  border-right: none;
}


.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black .main-header>.navbar .navbar-right>li>a {
  border-left: none;
  border-right-width: 0;
}

.skin-black .main-header>.navbar .nav>li>a {
  color: #C7C7C7;
}

/* sidebar */
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
  background-color: #303030;
}

.skin-black .sidebar-menu>li.header {
  color: #CDCDCD;
  background: #454545;
}

.skin-black .main-header>.logo:hover {
  background: #454545;
  color: #C7C7C7;
}

.skin-black .main-header>.navbar .nav>li>a:hover, .skin-black .main-header>.navbar .nav>li>a:active, .skin-black .main-header>.navbar .nav>li>a:focus, .skin-black .main-header>.navbar .nav .open>a, .skin-black .main-header>.navbar .nav .open>a:hover, .skin-black .main-header>.navbar .nav .open>a:focus {
  background: #454545;
  color: #C7C7C7;
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
  color: #fff;
  background: #1E2022;
  border-left-color: #fff;
}

.skin-black .sidebar-menu>li>.treeview-menu {
  margin: 0 0px;
  padding-left: 10px;
  background: #373B3D;
}

.skin-black .treeview-menu>li>a {
  color: #A5ADB0;
}




.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
  background-color: #373B3D;
}

.skin-black .sidebar-form {
  border: 1px solid #474C4F;
}


/* form */
.form-group .modified {
  border-color: royalblue;
  color: royalblue;
}
.form-group .invalid{
  border-color: tomato;
  color: tomato;
}

.form-group blockquote {
  font-size: 14px;
  padding: 0px 20px;
}

.form-group .input-group {
  margin-bottom: 4px;
}

.form-control[disabled]{
  background-color: #FAFAFA;
}

.input-group-btn .btn-default {
  background-color: #EEEEEE;
   border-color: #d2d6de;
}


/* resoource-list */
.resource-list .box-body {
  scroll: auto;
}
.resource-list .box-tools a,
.resource-list .box-tools button{
  margin-right : .75em;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.resource-list table tr{
  cursor: pointer ;
}

.resource-list table th, td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
 }

/* pagination */
.pagination li {
  cursor: pointer;
}

/* dialog */

.dialog-base {
  width    : 100%;
  height   : 100%;
  position : fixed;
  z-index  : 10000000;
  top      : 0;
  left     : 0;
  right    : 0;
  bottom   : 0;
  margin   : auto;
}

.dialog-base .dialog-bg {
  background : #000000;
  opacity    : 0.7;
  width      : 100%;
  height     : 100%;
  position   : absolute;
  top        : 0;
}

.dialog-base .dialog-body {
  position : fixed;
  top      : 30px;
  left     : 0;
  right    : 0;
  bottom   : 0;
  margin   : auto;
  z-index  : 10;
  min-width: 400px;
  max-width: 600px;
  overflow-y: auto;
}

/* loader */
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 8em auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

