.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
bower_components/
node_modules/
Gemfile.lock
vendor/
.ruby-version
test/lib/

app/assets/javascripts/administa/build/*.js.map
